/* max-width 1366px */

@media (max-width: 1366px) {
    
    .header {
        height: 14vh;
    }

    .header img {
        width: 165px;
    }

    .coluna-meio {
        margin-left: 1%;
    }
}

/* max-width 768px */

@media (max-width: 768px) {
    
    .header {
        height: 13vh;
    }

    .header img {
        width: 150px;
    }

    .main {
        width: 90%;

        border: 0.16rem solid var(--cor-borda);
        border-radius: 15px;
    }

    .coluna-meio {
        margin-left: 0.7%;
    }

    .cardapio-titulo {
        font-size: 1.7rem;

        border-bottom: 0.16rem solid var(--cor-borda);
        border-radius: 8px;
    }

    .titulos {
        font-size: 1.3rem;

        border: 0.16rem solid var(--cor-borda);
        border-radius: 8px;
    }

    .opcoes {
        font-size: 0.9rem;
    }

    .rodape-texto {
        font: 700 0.9rem 'Nunito Sans', sans-serif;
    }

    .rodape a {
        font-size: 17px;
    }
}

/* max-width 610px */

@media (max-width: 610px) {
    
    .header {
        height: 12vh;
    }
    
    .header img {
        width: 140px;
    }

    .main {
        border: 0.14rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: 0.1%;
    }

    .cardapio-titulo {
        padding: 1px 0;
        
        font-size: 1.6rem;

        border-bottom: 0.14rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 1.2rem;

        border: 0.14rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.8rem;
    }
    
    .rodape-texto {
        font: 700 0.75rem 'Nunito Sans', sans-serif;
    }

    .rodape a {
        font-size: 14px;
    }
}

/* max-width 520px */

@media (max-width: 520px) {

    .header {
        height: 11vh;
    }

    .header img {
        width: 135px;
    }

    .main {
        border: 0.13rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: 0;
    }

    .cardapio-titulo {
        font-size: 1.3rem;

        border-bottom: 0.13rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 1rem;

        padding: 2px 0;
        margin: 15px 0 5px 10px;

        border: 0.13rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.8rem;
    }

    .rodape {
        height: 4vh;
    
        margin: 2px 0;

        gap: 3px;
    }

    .rodape-texto {
        font-size: 0.63rem;
    }

    .rodape a {
        font-size: 13px;
    }
}

/* max-width 400px */

@media (max-width: 400px) {

    .header {
        height: 10vh;
    }

    .header img {
        width: 120px;
    }
    
    .coluna-meio {
        margin-left: -0.5%;
    }

    .cardapio-titulo {
        font-size: 1.2rem;
    }

    .titulos {
        font-size: 0.85rem;

        padding: 3px 0;
    }

    .rodape {
        margin: 2px;
        
        gap: 3px;
    }

    .rodape-texto {
        font-size: 0.55rem;
    }
}

/* max-width 350px */

@media (max-width: 350px) {

    .header {
        height: 9vh;
    }

    .header img {
        width: 110px;
    }
    
    .main {
        margin-bottom: 10px;
    }

    .coluna-meio {
        margin-left: -1.2%;
    }

    .cardapio-titulo {
        font-size: 1.1rem;
    }

    .titulos {
        font-size: 0.76rem;
    }

    .opcoes {
        font-size: 0.74rem;
    }

    .rodape {
        display: none;
    }
}

/* Para dispositivos específicos */
 
/* Esses valores equivalem a altura do Samsung Galaxy A51/71 & Samsung Galaxy S20 Ultra */

@media (min-height: 914px) and (max-height: 915px) {
    .container {
        height: 76vh;
    }

    .header {
        height: 8vh;
    }

    .header img {
        width: 120px;
    }

    .main {
        border: 0.13rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: -0.8%;
    }

    .cardapio-titulo {
        font-size: 1.2rem;

        border-bottom: 0.13rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 0.9rem;

        padding: 1px 0;
        margin: 15px 0 5px 10px;

        border: 0.13rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.8rem;
    }

    .rodape {
        height: 3vh;

        margin: 1px 0;
    }

    .rodape-texto {
        font-size: 0.6rem;
    }

    .rodape a {
        font-size: 13px;
    }
}

/* Iphone XR */

@media (min-width: 414px) and (min-height: 896px) {
    .container {
        height: 78vh;
    }

    .header {
        height: 8vh;
    }

    .header img {
        width: 120px;
    }

    .main {
        border: 0.13rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: -0.9%;
    }

    .cardapio-titulo {
        font-size: 1.3rem;

        border-bottom: 0.13rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 1rem;

        padding: 2px 0;
        margin: 15px 0 5px 10px;

        border: 0.13rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.8rem;
    }

    .rodape {
        height: 4vh;

        margin: 0;
    }

    .rodape-texto {
        font-size: 0.64rem;
    }

    .rodape a {
        font-size: 13px;
    }
}

/* Esses valores equivalem a altura do Iphone 12 pro e Pixel 5*/

@media (min-height: 844px) and (max-height: 851px) {
    .container {
        height: 82vh;
    }

    .header {
        height: 8vh;
    }

    .header img {
        width: 120px;
    }

    .main {
        border: 0.13rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: -0.9%;
    }

    .cardapio-titulo {
        font-size: 1.1rem;

        border-bottom: 0.13rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 0.9rem;

        padding: 2px 0;
        margin: 15px 0 5px 10px;

        border: 0.13rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.8rem;
    }

    .rodape {
        height: 4vh;

        margin: 0;
    }

    .rodape-texto {
        font-size: 0.6rem;
    }

    .rodape a {
        font-size: 13px;
    }
}

/* Samsung Galaxy S8+ */

@media (max-width: 360px) and (min-height: 740px) {
    .container {
        height: 94vh;
    }

    .header {
        height: 8vh;
    }

    .header img {
        width: 120px;
    }

    .main {
        border: 0.13rem solid var(--cor-borda);
    }

    .coluna-meio {
        margin-left: -0.9%;
    }

    .cardapio-titulo {
        font-size: 1.1rem;

        border-bottom: 0.13rem solid var(--cor-borda);
    }

    .titulos {
        font-size: 0.85rem;

        padding: 2px ;
        margin: 15px 0 5px 10px;

        border: 0.13rem solid var(--cor-borda);
    }

    .opcoes {
        font-size: 0.75rem;
    }

    .rodape {
        margin: 0;
    }

    .rodape-texto {
        font-size: 0.55rem;
    }

    .rodape a {
        font-size: 12px;
    }
} 

/* Para quando a tela for rotacionada */

@media (min-height: 220px) and (max-height: 425px) {
    .header {
        display: none;
    }

    .header img {
        display: none;
    }

    .main {
       width: 90%;
       
       margin: 25px 0;
    }

    .rodape {
        display: none;
    }
}